.button {
    padding: 8px 15px 12px 15px;

    border: 1px solid #E6E6E6;
    border-radius: 4px;

    background-color: hotpink;
    color: #E6E6E6;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}


