.navbar {
    grid-area: n;
    background-color: grey;

    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
}
