.card {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: 20px;
}

.image {
    width: 240px;
    height: 240px;
}

.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    height: 41px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.price {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    padding: 10px;
}

