.confirmModal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100vh;
}

.modalWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 1px solid #282c34;
}

