.tabs {
    display: flex;
    padding-bottom: 20px;
}

.tab {
    border: 1px solid #282c34;
    padding: 5px 10px;
    text-decoration: none;
    color: #282c34;
}

.activeTab {
    border: 1px solid #282c34;
    padding: 5px 10px;
    text-decoration: none;
    color: #282c34;
    background-color: hotpink;
}

.content {

}
